{% extends "base_generic.html" %}

{% block title %}<title>Uplanner-Prereqs</title>{% endblock %}

{% block content %}

<p style="display:none;" id="course_list_json">
	{{ course_list }}
</p>

<div class="container-fluid text-left">
<h3>Course Prerequisites Flowchart</h3>
	<form action="" method="get">
		{{ form.departments }}
		<input type="submit" value="Reload" class="btn btn-primary btn-sm"/>
	</form>
<p style="font-size: 11px; color: grey">Note: You have to take course(s) with * to satisfy department requirements</p>
<p id ='credits'>Total Credits: 0</p>
</div>
  <!-- Begin flowchart -->

  <!-- End flowchart -->
{% endblock %}

{% block imports %}
<!-- This is a temp solution until I start using ajax-->
  <script type="text/javascript">
  	var v = document.getElementById('course_list_json'); 
  </script>
  {% load static %}
  <script src="{% static 'scripts/flowchart.js' %}"></script>
  <script>drawTable()</script>

  {% load static %}
  <!-- stylesheet used for flowchart by Sihua Chen -->
  <link href="{% static 'css/flowchart.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
