{% extends "base_generic.html" %}

{% block title %}<title>Uplanner-Prereqs</title>{% endblock %}

{% block content %}

<p style="display:none;" id="course_list_json">
	{{ course_list }}
</p>

<div class="row">
<h4>Course Prerequisites Flowchart</h4>
	<form action="" method="get">
		{{ form.departments }}
		<input type="submit" value="Reload" class="btn btn-primary btn-sm"/>
	</form>
</div>
  <!-- Begin flowchart -->

  <!-- End flowchart -->
{% endblock %}

{% block imports %}
<!-- This is a temp solution until I start using ajax-->
  <script type="text/javascript">
  	var v = document.getElementById('course_list_json'); 
  </script>
  {% load static %}
  <script src="{% static 'scripts/flowchart.js' %}"></script>

  {% load static %}
  <!-- stylesheet used for flowchart by Sihua Chen -->
  <link href="{% static 'css/flowchart.css' %}" rel="stylesheet" type="text/css">
{% endblock %}