{% extends "base_generic.html" %}

{% block body %} onload="init();" {% endblock %} 

{% block title %}<title>Uplanner-Schedule</title>{% endblock %}

{% block content %}
  <!-- Begin row -->
  <div class="container-fluid">
    <div class="row">

      <!-- Begin dhtmlx Schedule Column-->
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 bg-light">
        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:95%;'>
          <div class="dhx_cal_navline">
            <div class="dhx_cal_date"></div>
          </div>
          <div class="dhx_cal_header"></div>
          <div class="dhx_cal_data"></div>
        </div>

      </div>
      <!-- End dhtmlx Schedule Column-->

      <!-- Begin Search Column -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bg-light">
        <!-- Begin top search bar -->
        <div class="row">
          <form action="" method="get">
            <button type="button" class="btn btn-secondary btn-sm" id="searchToggleBTN">
              {% load static %}
              <img src="{% static 'images/expand.svg' %}">
            </button>
            {{ form.keywords }}
            {{ form.departments }}
            <!-- Begin Start Search Button TODO: reconsider the positioning of this, or its necessity -->
            <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
            <!-- End Start Search Button -->
          </div>
          <!-- End top search bar -->

          <h6 class="search-toggle">Search filters: </h6>

          <!-- Begin misc options -->
          <div class="search-container search-toggle">
            <div class="row justify-content-sm-left">
              <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto bg-light">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value=""> Show closed courses </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value=""> Show conflicting courses </label>
                </div>
              </div>
              <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto bg-light">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value=""> Show courses with unmet requirements </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value=""> Show only honors courses </label>
                </div>
              </div>
            </div>
          </div>
          <!-- End misc options -->

          <!-- Begin checkbox column options -->
          <div class="row search-container search-toggle">
            <!-- Begin weekdays checkboxes -->
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto bg-light">
              <label class="label label-default">
                Weekdays to include:
              </label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> Monday</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> Tuesday</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> Wednesday</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> Thursday</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> Friday</label>
              </div>
            </div>
            <!-- End weekdays checkboxes -->

            <!-- Begin course level checkboxes -->
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto bg-light">
              <label class="label label-default">
                Course levels to include:
              </label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 100</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 200</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 300</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 400</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 500+</label>
              </div>
            </div>
            <!-- End coure level checkboxes -->

            <!-- Begin # credits checkboxes -->
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto bg-light">
              <label class="label label-default">
                Course credits to include:
              </label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 1.0</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 2.0</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 3.0</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 4.0</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> 5.0+</label>
              </div>
            </div>
            <!-- End # credits checkboxes -->
          </div>
          <!-- End checkbox column options -->
        </form>

        <!-- Begin Tabs -->
        <ul class="nav nav-tabs" id="scheduleTab">
          <!-- Begin results tab -->
          <li class="nav-item">
            <a class="nav-link active" id="results-tab" data-toggle="tab" href="#results">Results</a>
          </li>
          
          <!-- Begin courses tab -->
          <li class="nav-item">
            <a class="nav-link" id="courses-tab" data-toggle="tab" href="#courses">Courses</a>
          </li>
          
          <!-- Begin course detail tabs -->
          {% if course_views %}
            {% for course in course_views %}
              <li class="nav-item">
                <a class="nav-link" id="{{ course.pk }}-tab" data-toggle="tab" href="#{{course.pk}}">{{ course.dept.code }} {{ course.number }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        
        <!-- Begin tab contents -->
        <div class="tab-content" id="scheduleTabContent">
          <!-- Begin search results -->
          <div class="tab-pane show active" id="results">
            {% if results %}
              <ul class="list-group fixed-panel">
              {% for course in results %}
                <li class="list-group-item">
                  <button class="btn btn-info btn-xs btn-results" id="b{{course.id}}" onClick="expand( {{course.id}} )">+</button>{{ course.dept.code }} {{ course.number }} - {{ course.title }}
                  <!-- Begin column information -->
                  <div class="row">
                    <!-- Left column -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      {% if course.open == False %}<p class="result-details r{{course.id}}">Course is closed</p>{% endif %}
                      {% if course.lab == True %}<p class="result-details r{{course.id}}">Course has labs</p>{% endif %}
                    </div>
                    <!-- Right column -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      {% if course.conflicts == True %}<p class="result-details r{{course.id}}">Course conflicts</p>{% endif %}
                      <p class="result-details r{{course.id}}">Credits: {{course.credits}}</p>
                    </div>
                  </div>
                  <!-- Begin block information -->
                  <p class="result-details r{{course.id}}"><strong>Description:</strong> {{course.description}}</p>
                  <p class="result-details r{{course.id}}"><strong>Restrictions:</strong> {{course.reqs}}</p>
                  {% if course.geneds %}
                    <p class="result-details r{{course.id}}"><strong>Geneds:</strong> 
                    {% for gened in course.geneds %}
                      {{gened}} 
                    {% endfor %} </p>
                  {% endif %}
                  
                  <!-- temporary buttons for debugging scheduler -->
                  <button class="btn btn-primary btn-xs btn-results" id='add{{course.id}}' onClick="add( {{course.id}} )">Add</button>
                  <button class="btn btn-danger btn-xs btn-results" id='del{{course.id}}' onClick="del( {{course.id}} )">Delete</button>
                  <button class="btn btn-xs btn-results" id='view{{course.id}}'>View full info</button>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
          
          <!-- Begin current courses -->
          <div class="tab-pane" id="courses">
            testing...
          </div>
          
          <!-- Begin course tabs -->
          {% if course_views %}
            {% for course in course_views %}
              <div class="tab-pane" id="{{ course.pk }}">testing3...</div>
            {% endfor %}
          {% endif %}
        </div>
        
      </div>
      <!-- End Columns -->

    </div>
  </div>
  <!-- End Row -->

  <div class="text-center">
    <button class="btn btn-warning btn-md" id="export-btn" type="button">Export to Spire</button>
  </div>
{% endblock %}

{% block imports %}
  <!-- Import dhtmlx schedule builder modules -->
  {% load static %}
  <script src="{% static 'dhtmlxScheduler_v4.4.0/codebase/dhtmlxscheduler.js' %}" type="text/javascript"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'dhtmlxScheduler_v4.4.0/codebase/dhtmlxscheduler.css' %}" type="text/css">
  
  <!-- Import our schedule builder javascript -->
  {% load static %}
  <script src="{% static 'scripts/scheduleBuilder.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}