<h6><p>{{course.dept.code}} {{course.number}}</p></h6>
<!--TODO: incorporate more generic fields -->
<p>Description: {{course.description}}</p>
<p>Requirements: {{course.reqs}}</p>
{% for component in sections %}
  {% if component.sections %}
    <strong>{{component.name}}:</strong>
    <ul>
    {% for section in component.sections %}
      <li>
        <p>{{section.id}}</p>
        <p>{{section.days}}, {{section.start}} - {{section.ending}}<p>
        <p>Professor: {{section.professor}}</p>
        <p>Room: {{section.room}}</p>
        <p>Cap: {{section.cap}} || Enrolled: {{section.enrolled}}</p>
        <p>Waitlist capacity: {{section.wcap}} || Waitlist Enrolled: {{section.wenrolled}}</p>
        <p>Spire link: {{section.link}}</p>
        
        <!-- buttons for adding / deleting classes -->        
        <button class="btn btn-primary btn-xs btn-results js-add" html-url="{% url 'make_current_courses' %}" ajax-url="{% url 'add_section' %}" section-id='{{section.id}}'>Add</button>
        <button class="btn btn-danger btn-xs btn-results js-del" ajax-url="{% url 'del_section' %}" section-id='{{section.id}}'>Delete</button>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

<!-- Our javascript for buttons -->
{% load static %}
<script src="{% static 'scripts/scheduleScripts.js' %}"></script>

<!-
sections:
[{'name':lab, 'sections':[lab 1, lab 2,...]}, {'name':lec, 'sections':[lec1, lec2, ...]}, {'name':colloquium, 'sections':[]}]
-->
