.bg-umass{
    background-color: #881c1c;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
}
.nav-link:hover, .nav-link:focus{
    border-radius: .5rem;
    background-color: #a92323;
    outline: none;
}