
body{
    /* Padding so that the footer doesn't block anything */
    margin-bottom: 35px;
    background-color: #eff2f5;
}
#landing{
    background-image: url('../images/grad_landing.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.jumbotron{
    background: none;
    color: white;
}
.bg-umass{
    background-color: #881c1c;
}
.bg-umass-lite{
    background-color: #a92323;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
}
.navbar{
    color: rgba(255, 255, 255);
}
.nav-link:hover, .nav-link:focus{
    border-radius: .5rem;
    background-color: #a92323;
    outline: none;
}
.footer-text{
    color: #ffff;
    text-align: right;
    margin: 0; 
    padding: 0;
    font-size: .7rem;
}
.search-container{
    padding-top: .8rem;
    font-size: .6rem;
}
.btn{
    margin: .5rem;
}
h6{
    color: #000000;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
h4{
    padding:0.5em;
}
#flowchartplaceholder{
    background-image:url("res/fchartPlacehold.png");
    position: absolute;
    background-position: center top;
    background-repeat: no-repeat;
    height: 75%;
    width:100%;
}
#searchToggleBTN img {
    height: 12px;  
    width: 12px;
}
#expandBtn{
    display: none;
}
#hideBtn{
    display: block;
}
.js-expand-info{
    display: none;
}
.js-expand-default{
    display: block;
}
.expandBtn:hover{
    background-color: #8799ac;
    border-color: #8799ac;
}
.expandBtn:focus{
    background-color: #8799ac;
    border-color: #8799ac;
}
.btn-results{
    margin: 0;
    padding: 1px 1.5px 2px 1px;
    line-height: 1;
}
.list-group-item{
    font-size: .9rem;
}
.fixed-panel {
    min-height: 28rem;
    max-height: 28rem;
    overflow-y: scroll;
}
.accInfo{
    font-size: 30px; 
    border-bottom: 40px;
}
.courseDetails{
    font-size: 14px;
}
.smMargin{
    margin: .3rem;
}
.searchCol{
    padding-top:1em;
    height:20%;
}
#filters_wrapper{
    text-align: center;
}
.highlighted_timespan {
    transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    opacity:0.4;
    filter:alpha(opacity=40);
}
.highlighted_timespan:hover {
    /* This color is good for classes!*/
    background-color: #94b0ca9f;
}
.errorlist {
    background-color: yellow;
    color:red;
}
.btn-warning{
    color: white;
}
.btn-info:hover{
    color: black;
}
.btn-danger:hover{
    color: black;
}
.btn-primary:hover{
    color: black;
}
.btn-info:focus{
    color: black;
}
.btn-danger:focus{
    color: black;
}
.btn-primary:focus{
    color: black;
}
.btn-fullInfo {
    color: #fff;
    background-color: #8ac3ff;
    border-color: #8ac3ff;
}
.btn-fullInfo:hover{
    color: rgb(0, 0, 0);
    background-color: #1f88f8;
    border-color: #1f88f8;
}
.btn-fullInfo:focus{
    color: rgb(0, 0, 0);
    background-color: #1f88f8;
    border-color: #1f88f8;
}
.navTab:hover{
    color: white;
    background-color: #5e7083;
    border-color: #5e7083;
}
.navTab:focus{
    color: white;
    background-color: #5e7083;
    border-color: #5e7083;
}
.input:hover{
    background-color: #5e7083;
    border-color: #5e7083;
}
.btnAddDelTab{
    padding: 8px;
}

.sidebar-box {
  max-height: 120px;
  position: relative;
  overflow: hidden;
}
.sidebar-box .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, white);
}