{% extends "base_generic.html" %}
{% block content %}
<div class="container" style="height:100%;width:100%;">
    <div class="row" style="height:10em;"></div>
    <div class="row align-items-center">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color:rgb(214, 214, 214)">
            <form action="" method="post" style="padding:1em; text-align:center">
                <p>Enter your email and you will receive a password reset</p>
                {% csrf_token %}
                {% if form.email.errors %} 
                    {{ form.email.errors }} 
                {% endif %}
                <p>{{ form.email }}</p> 
                <input type="submit" class="btn btn-primary btn-lg" value="Reset password" />
            </form>
        </div>
    </div>
</div>


{% endblock %}