{% extends "base_generic.html" %}
{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" style="text-align: center">
            <h1>Registration</h1>
            <p>Register your own account for your future schedule planning at UMass Amherst!</p>
        </div>
        <div class="col-md-4">

        </div>

    </div>
    
        <form action="" method="post" style="background-color:rgb(230, 230, 230)" class="row">
                {% csrf_token %}
            <div class = "col-md-6">
                    <p>{{ user_form.fieldname.errors.as_text }}</p>
                    <p>{{ user_form.as_p }}</p> 
            </div>
            <div class = "col-md-6" style="position:relative">
                <p>{{ student_form.fieldname.errors.as_text }}</p>
                <p>{{ student_form.as_p }}</p>

                <input type="submit" class="btn btn-danger btn-lg" value="Register"  style="position:absolute;bottom:1em;right:1em"/>
            </div>
            
        </form>
    
</div>


{% endblock %}